# Exercise List 1

## Exercise 1

Dependencies

In [25]:
import sys
sys.path.append(f'../FinanceHub')

from calendars import DayCounts
import pandas as pd

Creating the class responsible for calculating business days

In [37]:
# Using BUS/252 and 'anbima' as standards for Brazil
dc = DayCounts('BUS/252', calendar='anbima')
# Reference date February 5th
t = pd.to_datetime('2021-02-05')
expiry_dates = [ '2021-04-01','2021-07-01','2021-10-01','2022-01-01',
                 '2022-04-01','2022-07-01','2022-10-01','2023-01-01',
                 '2023-07-01','2024-01-01','2024-07-01']
du = []
for date in expiry_dates:
    T = pd.to_datetime(date)
    du.append([date, dc.days(t, T)])
output = pd.DataFrame(du, columns=["Expiry Date", "Business Days"])
# Print DU table
output

   Expiry Date  Business Days
0   2021-04-01             37
1   2021-07-01             99
2   2021-10-01            164
3   2022-01-01            227
4   2022-04-01            289
5   2022-07-01            351
6   2022-10-01            416
7   2023-01-01            478
8   2023-07-01            602
9   2024-01-01            727
10  2024-07-01            851

## Exercise 2

In [27]:
def calc_pu(_y, _du):
    return 100000.0/(1+_y)**(_du/252)

# List of yields for each expiry date
yield_rates = [
     0.0205800,0.0238850,0.0299040,0.0344630,0.0401480,
     0.0448470,0.0491370,0.0525000,0.0575190,0.0611500,0.0642470
]

pu = []
for y, d in zip(yield_rates, du):
    pu.append(calc_pu(y, d[1]))
pu_df = pd.DataFrame(pu, columns=["PU"])
output.join(pu_df)

   Expiry Date  Business Days            PU
0   2021-04-01             37  99701.347473
1   2021-07-01             99  99076.977775
2   2021-10-01            164  98100.666878
3   2022-01-01            227  96993.996885
4   2022-04-01            289  95586.126152
5   2022-07-01            351  94072.418755
6   2022-10-01            416  92386.886336
7   2023-01-01            478  90750.399969
8   2023-07-01            602  87493.993448
9   2024-01-01            727  84262.829824
10  2024-07-01            851  81036.024586

### Exercise 3

In [32]:
def calc_yield(_pu, expiry, reference=pd.to_datetime('2021-02-05')):
    _dc = DayCounts('BUS/252', calendar='anbima')
    _du = _dc.days(reference, expiry)
    return (100000.0/_pu)**(252/_du) - 1

# Prices for each expiry date
prices = [
    99701.35, 99076.98, 98100.67, 96994.00, 95586.13,
    94072.42, 92386.89, 90750.40, 87493.99, 84262.83, 81036.02,
]

calc_yields = []
for pu, date in zip(prices, expiry_dates):
    calc_yields.append(calc_yield(pu, date))
calc_yields_df = pd.DataFrame(calc_yields, columns=["Yields"])
output.join(calc_yields_df)

   Expiry Date  Business Days    Yields
0   2021-04-01             37  0.020580
1   2021-07-01             99  0.023885
2   2021-10-01            164  0.029904
3   2022-01-01            227  0.034463
4   2022-04-01            289  0.040148
5   2022-07-01            351  0.044847
6   2022-10-01            416  0.049137
7   2023-01-01            478  0.052500
8   2023-07-01            602  0.057519
9   2024-01-01            727  0.061150
10  2024-07-01            851  0.064247